In [1]:
import numpy as np
import pandas as pd

In [9]:
 df = pd.DataFrame(pd.date_range(2019, 10, 01, 2019, 10, 31"))

In [11]:
df['value'] = range(len(df))

In [17]:
df.columns = ['dt', 'value']

In [19]:
df = df.set_index('dt')

In [22]:
df.resample('W').sum()

            value
dt
2019-10-06     15
2019-10-13     63
2019-10-20    112
2019-10-27    161
2019-11-03    114